* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #c4fcef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  display: flex;
  align-items: center;
  gap: 30vw;
}

.cards {
  display: flex;
  gap: 25px;
}

.card {
  height: 22vw;
  width: 15vw;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.85);
  transition: all 0.6s ease;
  opacity: 0;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card.active {
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 1;
  z-index: 3;
}

.card.left {
  transform: translate(-180%, -40%) rotate(-25deg) scale(0.75);
  opacity: 1;
  z-index: 2;
}

.card.right {
  transform: translate(80%, -40%) rotate(25deg) scale(0.75);
  opacity: 1;
  z-index: 2;
}

.btn {
  height: 45px;
  width: 25px;
  font-size: 24px;
  background: #c4fcef;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {

  background: #000000;
  color: #fff;
}

.buttons {
  position: absolute;
  bottom: 125px;
  display: none;
}

.buttons .btn {
  margin: 0px 55px;
}



@media (max-width:924px) {

  .slider {
    gap: 45vw;
  }

  .card {
    height: 38vw;
    width: 25vw;
  }

  .slider .btn {
    display: none;
  }

  .buttons {
    display: block;
  }

}